.header-class {
    background-color: #80bfff;
    padding: 20px;
}

.container-class {
    height: 150px;
    background-color: #3399ff;
    padding-left: 40px;
    padding-top: 30px;
}

.inline-class {
    float: left;
    display: inline;
}

.result-class > p {
    text-align: center;
    width: 150px;
}

.color-red > p{
    border: 1px solid #e62e00;
    color: #e62e00;
    background-color: #ffb3b3;
}

.color-green > p{
    border: 1px solid #2eb82e;
    color: #2eb82e;
    background-color: #adebad;
}

.glyphicon-apple {
    font-size: 50px;
    color: #2eb82e;
}

.glyphicon-chevron-right {
    margin-top: 3px;
}

